.conteneur{
    display:grid;
    grid-template-columns: 1fr;

    h2{
        font-size:12pt;
        background-image: linear-gradient(to right, black, black, grey);
       // background-color: black;
        border-radius:0.5em;
        padding-bottom: 0.5em;
        border-bottom:0.1em solid rgba(255, 0, 0, 0.4);
    }

    a{
        color:white;
        text-shadow: 0.1em 0.1em rgba(255, 0, 0, 0.8);	
    }
}

    @include media (tablet) {
        .conteneur{       
            grid-template-columns: 1fr 1fr;    
        }        
    }

    @include media (desktop) {
        .conteneur{       
            grid-template-columns: 1fr 1fr 1fr;    
        }        
    }




