.conteneur{
    display:grid;
    grid-template-columns: 1fr;

    h2{
        font-size:12pt;
        background-image: linear-gradient(to right, black, black, grey);
        border-radius:0.5em;
        padding-bottom: 0.5em;
        border-bottom:0.1em solid rgba(255, 0, 0, 0.4);
    }

    a{
        color:white;
        text-shadow: 0.1em 0.1em rgba(255, 0, 0, 0.8);	
    }
}

    @include media (tablet) {
        .conteneur{       
            grid-template-columns: 1fr 1fr;    
            margin-right:2em;
            margin-left:1em;

            h2{
                font-size:14pt;
                background-color: black;
                background-image: none;
                border-radius:0.5em;
                padding-bottom: 0.5em;
                border:0.1em solid rgba(255, 0, 0, 0.4);                
            }                
        }            
    }

    @include media (desktop) {
        .conteneur{       
            grid-template-columns: 1fr 1fr 1fr;    
        
            h2{
                font-size:17pt;
                background-image: linear-gradient(to top, black, black, grey);
                border:none;
                border-bottom:0.1em solid rgba(255, 0, 0, 0.4);
                padding-left:1em;
            }
        }         
    }




