.conteneur{
    display:grid;
    grid-template-columns: 1fr;

    h2{
        font-size:12pt;
       
    }

    a{
        color:white;
        
    }
}

    @include media (tablet) {
        .conteneur{       
            grid-template-columns: 1fr 1fr;    
        }        
    }

    @include media (desktop) {
        .conteneur{       
            grid-template-columns: 1fr 1fr 1fr;    
        }        
    }




